nav{
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}
nav * {
  background-color: var(--primary-color);
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
}
.nav-container {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-container li {
  cursor: pointer;
  flex-grow: 1;
  list-style: none;
  font-weight: 400;
  text-align: left;
  font-size: 16px;
}
.items a {
  transition: color 0.2s ease-in-out;
}
.nav-container a {
  text-decoration: none;
}
.items a:hover{
  color: var(--text-secondary);
  
}
.nav-container svg {
  margin: 0 12px 0 34px;
  position: relative;
  top: 4px;
}
.nav-container > :last-child {
  flex-grow: 1;
  text-align: center;
}
.nav-container > :first-child {
  flex-grow: 5;
  text-align: left;
  font-size: 24px;
  font-weight: 500;
}
button {
  background: none;
}

/* Air */
.bn632-hover {
  width: 100px;
  font-size: 19px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 2px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 12px;
  /* moz-transition: all 0.4s ease-in-out; */
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  /* moz-transition: all 0.4s ease-in-out; */
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn26 {
    margin-left: 16px;
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    filter: saturate(0.7) brightness(0.8); /* Adjust saturation and brightness */
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }
  

.bn632-hover.bn26.bn27 {
    margin-left: 16px;
    background-image: linear-gradient(
      to right,
      #7197ea,
      #2a3a66,
      #476fb9,
      #3459a9
    );
    box-shadow: 0 4px 15px 0 rgba(11, 25, 51, 0.75);
  }
  


button.primary {
  background-color: var(--primary-button);
}
button.secondary {
  background-color: var(--secondary-button);
}
.glowing-line {
  width: 100%;
  height: 3px;
  background: #4b4c5c;
  position: relative;
  bottom: 0;
  box-shadow: 0 0 10px rgba(31, 32, 55, 0.5), 0 0 20px rgba(31, 32, 55, 0.5),
    0 0 30px rgba(31, 32, 55, 0.5);
}
.hide{
  display: none;
}
button a{
  background: none;
}


/* ham */
.ham{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
{
  .nav-container > :first-child {
    flex-grow: 2;
    text-align: left;
    font-size: 19px;
    font-weight: 500;
  }
  .nav-container svg {
    width:16pt;
    height:16pt;

    margin: 0 12px 0 24px;
    position: relative;
  }
}

.contain{
  display: flex;
  justify-content: center;
  transform: translateX(110vw);
  transition: transform 0.3s ease-in-out;
}

.glass{
  position: absolute;
  z-index: 999;
  /* height: 92vh; */
  height: calc(100vh - 73px);
  width: 100%;
}
.glass ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
  width: 100%;
  padding-top: 19px;
}
.glass>ul li{
  font-size: 19px;
  font-weight: 400;
  height: 40px;
  background: none;
  padding: 8px 24px;
  border-radius: 16px;
}

.glass>ul li img{
  margin-right: 8px;
  position: relative;
  top: 4px;
  width: 24px;
}
.transform{
  transform: translateX(0);
}
.selected{
  background-color: red;
}
.login{
  position: absolute;
  bottom: 30px;
  right: 42px;
  font-size: 34px;
}